* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: wheat;
  }
  
  .hidden {
    display: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }